<form method="get" action="/quizes/<%=quiz.id%>/answer">
<<<<<<< HEAD
  <p><%= quiz.pregunta %></p>
=======
  <p>Pregunta: <%= quiz.pregunta %></p>
>>>>>>> origin/master
  <input type="text" name="respuesta" placeholder="Respuesta" />
  <input type="submit" value="Enviar" />
</form>
